@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
}

.app {
  max-width: 43rem;
  padding: 1rem;
  border-radius: 12px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.form-control input:focus {
  outline: none;
  border-color: #002eac;
  background-color: #d4e2fd;
}

.control-group {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.control-group .form-control {
  min-width: 15rem;
  flex: 1;
}

button {
  font: inherit;
  background-color: #0033c1;
  color: white;
  border: 1px solid #0033c1;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #033bd5;
  border-color: #033bd5;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #727272;
  border-color: #989898;
  cursor: not-allowed;
}

.form-actions {
  text-align: right;
}

.form-actions button {
  margin-left: 1rem;
}

p {
  margin-top: 0.2rem;
}

.invalid input {
  border: 1px solid #fc2525;
  background-color: #feecec;
}

.invalid input:focus {
  border-color: #ff585894;
  background-color: #feecec73;
  border-width: 4px;
}

.error-text {
  color: #fc2525;
}
